---
- name: Install influxdb gpg key
  apt_key:
    url: "https://repos.influxdata.com/influxdb.key"
    state: present

- apt_repository:
    repo: "deb https://repos.influxdata.com/debian {{ ansible_distribution_release }} stable"
    state: present

- name: Update package cache and install influxdb
  apt:
    update_cache: yes
    cache_valid_time: 36000
    name: "{{ item }}"
    state: present
  with_items:
    - influxdb

- name: Enable and start influxdb
  service:
    name: influxdb
    enabled: yes
    state: started
