[submodule "roles/golang"]
	path = roles/golang
	url = https://github.com/fubarhouse/ansible-role-golang.git
[submodule "roles/swap"]
	path = roles/swap
	url = https://github.com/geerlingguy/ansible-role-swap.git
