[Unit]
    Description=mjpg-streamer http server
    After=network.target
    StartLimitIntervalSec=10min
    StartLimitBurst=10

[Service]
    Type=simple
    ExecStart=/usr/local/bin/mjpg_streamer -o "output_http.so -w /usr/local/share/mjpg-streamer/www -l 127.0.0.1 -n" -i "input_raspicam.so"
    Restart=always

[Install]
    WantedBy=multi-user.target
