version: '3'

services:
  netdata:
    image: netdata/netdata
    hostname: {{ netdata_fqdn }}
    command: ["-W", "set", "global", "history", "86400"]
    restart: unless-stopped
    environment:
      - PGID=999
    ports:
      - 19999:19999
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
