country=DE
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1

{% for item in wlan %}

network={
  ssid="{{ item.ssid }}"
  psk={{ item.psk }}
  priority={{ item.priority }}
}
{% endfor %}
